@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header {
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 1;
}

header h1{
    font-family: 'Oswald', sans-serif;;
    color: #630B82;
}